* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(142, 225, 252);
    padding: 1rem;
}

.navmenu {
    display: flex;
    list-style-type: none;
    gap: 0.7rem;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.link-texto {
    text-decoration: none;
    color: black;
}

.productos-container {
   max-width: 1000px;
   margin: 0 auto;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.producto {
    height: 95%;
    background-color: rgb(142, 225, 252);
    border-radius: .5rem;
    margin: 0.5rem;
    padding: 1rem;
}