* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: white;
}

.logo {
    height: 90px;
    width: 90px;
    border-radius: 100px;
}

.logoTexto {
    font-family: "Allura", cursive;
    font-size: 3.5rem;
}

.nav {
    height: 10vh;
    width: 100%;
    padding: 0px;
}

.container-fluid {
    background-color: white;
}

.navmenu {
    display: flex;
    list-style-type: none;
    gap: 0.7rem;
    margin: 0px;
}

.collapse {
    display: flex;
    justify-content: space-between;
    padding-left: 330px;
}

.cartCheck {
    color: #f05981;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.nav-link:hover{
    color: #f05981;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    color: #f05981;
}

.link-texto {
    text-decoration: none;
    color: black;
}

.inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.inicio h4 {
    font-size: 1.5rem;
}

.carrito {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorProdCarrito{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    background-color: #ffd5da;
    align-items: center;
    width: 800px;
    border-radius: 10px;
}

.imgCarrito {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100px;
}

.textCart {
    height: 40px;
    font-size: 1.5rem;
}

.botonCart {
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: 0px;
    margin-bottom: 10px;
}
.botonEliminarProd:hover {
    background-color: #f05981;
    color: black;
}


.inicio h2 {
    background-color: #fae8ea;
    color: rgb(93, 93, 93);
    font-size: 3.5rem;
    margin: 50px 10px 50px 10px;
    width: 99%;
}

.contadorProductos {
    font-size: 2rem;
    height: 40px;
}

.gatitos {
    height: 500px;
}

.naruto {
    width: 500px;
    height: 400px;
}

.principito {
    width: 500px;
    height: 400px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-redes {
    gap: 50px;
}

.links-redes a {
    color: black;
    font-size: 4rem;
    display: flex;
}

.links-redes :hover {
    color: #d77683;
}

.divdetail {
    min-height: 75vh;
}

main {
    background-image: url('../assets/img/fondogranderosa.png');
    background-size: cover;
    height: 100%;
}

.mainCheckout {
    height: 75vh;
}

.pedidoRealizado {
    min-height: 75vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.pedidoRealizado button{
    width: 200px;
}

.imagenDeCompra {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #f05981;
}

button:hover {
    color: #f05981;
}

.productos-container {
    max-width: 1000px;
    margin: 0 auto;
}

.productos-grilla {
    display: grid;
    grid-template-columns: repeat(3,minmax(335px,1fr));
    max-width: 1100px;
    min-height: 75vh;
    gap: 16px;
    flex-wrap: wrap;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 335px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgb(208, 208, 208);
    padding: 1rem;
    height: 600px;
}

.imagenProductos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productosFlex {
    display: flex;
    justify-content: center;
}

.imdiv{
    width: 300px;
    height: 350px;
}

footer {
    background-color: white;
    margin-top: 20px;
}

footer ul {
    display: flex;
    height: 15vh;
    gap: 1rem;
    list-style-type: none;
    margin-bottom: 0px;
}

footer div h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

@media screen and (max-width:1500px) {
    .productos-grilla {
        display: grid;
        grid-template-columns: repeat(2,minmax(335px,1fr));
        max-width: 1100px;
        min-height: 75vh;
        gap: 16px;
        flex-wrap: wrap;
    }

    .collapse {
        display: flex;
        padding-left: 0px;
    }

    .contenedorProdCarrito{
        width: 500px;
    }

}

@media screen and (max-width:800px) {

    .nav {
        background-color: white !important;
    }

    .logo {
        height: 80px;
        width: 80px;
        border-radius: 100px;
    }

    .logoTexto {
        font-family: "Allura", cursive;
        font-size: 2.5rem;
    }

    .productos-grilla {
        display: grid;
        grid-template-columns: repeat(1,minmax(335px,1fr));
        max-width: 1100px;
        min-height: 75vh;
        gap: 16px;
        flex-wrap: wrap;
    }

    .contenedorProdCarrito{
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .imgCarrito {
        height: 100px;
        width: 100px;
    }
}